@model List<_25_Abril.Models.PedidosAdmin>

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/Profile")

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
        }

        .title {
            width: 70%;
        }

        .category {
            width: auto;
        }

        .options {
            text-align: center;
            width: 10%;
        }

        .TabPages {
            width: 20%;
        }

        .Page {
            width: 79%;
        }
    </style>
</head>

<body class="Background">

    <div class="DivMain" style="justify-content: start; position: relative;">
        <div class="TabPages">
            <div class="PageItem">

            </div>

            <div class="PageItem">

            </div>

            <div class="PageItem">

            </div>

            <div class="PageItem">

            </div>
        </div>

        <div class="Page">
            <table style="width:100%">

                <thead>
                @*<th class="title">Tipo de Pedido</th>*@
                <th class="title">Conta</th>
                <th class="category">Valor Antigo</th>
                <th class="category">Valor Novo</th>
                <th class="options">Opções</th>
                </thead>



                <tbody>
                    @if (Model != null)
                    {
                        foreach (_25_Abril.Models.PedidosAdmin pedido in Model)
                        {
                            <tr>
                                <td>@pedido.Conta.Nome</td>
                                <td>@pedido.Valor_Antigo</td>
                                <td>@pedido.Valor_Novo</td>

                                <td style="display:inline">
                                    @using (Html.BeginForm("AcceptPedido", "Contas", FormMethod.Post, new { style = "width: auto; text-align : right" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="submit" value=&#10004; id="AcceptPedido" name="AcceptPedido" style="width:40px" />
                                    }
                                    @using (Html.BeginForm("RefusePedido", "Contas", FormMethod.Post, new { style = "width: auto; text-align : right" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="submit" value=&#10060; id="RefusePedido" name="RefusePedido" style="width:40px" />
                                    }
                                </td>
                            </tr>
                        }
                    }


                </tbody>

            </table>

        </div>

    </div>

</body>

</html>
