@model _25_Abril.ViewModels.ArteComentarios_ViewModel

@{
    ViewBag.Title = "Comentarios";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @Styles.Render("~/Content/Comentarios")
}

<body class="Background" style="align-items : center">

    <div class="DivMain" style="justify-content: start; position: relative; width: 100%; margin-left: 10%; margin-right: 10%;">

        <div class="Titulo" style="font-size: 40px; margin-left:5%">
            @Model.Arte.Nome_Arte
        </div>

        <img src=@Model.Arte.Caminho alt="Not Found" style="width : 80%; height : auto; margin-right: 10%; margin-left : 10%; border-radius : 8px" />

        <div class="Descricao" style="font-size: 20px; margin-left:10%; width:80%">
            @Model.Arte.Descricao
        </div>

        <div class="Autor" style="font-size: 25px; margin-right:10%">
            @Model.Arte.Conta.Nome
        </div>

        @if (Model.Comentarios.Count != 0)
        {
            <div style="width: 90%; margin-left: 5%; margin-right: 5%;">

                @foreach (_25_Abril.Models.Comentario comentario in Model.Comentarios)
                {
                    <div class="Comentario">
                        <div class="ComentarioTop">
                            <img src="@comentario.Conta.Image" alt="Not Found" class="UserImage">
                            <div class="User">
                                @comentario.Conta.Nome
                            </div>

                        </div>
                        <div class="DetalhesComentario">
                            <div class="Data">
                                @comentario.Data
                            </div>
                            <div class="ComentarioText">
                                @comentario.ComentarioTexto
                            </div>
                        </div>
                        <td>
                            @using (Html.BeginForm("AcceptComentario", "Contas", FormMethod.Post, new { style = "width: auto; text-align : right" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" value="@comentario.ID_Comentario" id="id" , name="id" />
                                <input type="submit" value=&#10004; id="AcceptComentario" name="AcceptComentario" style="width:40px" />
                            }
                            @using (Html.BeginForm("RefuseComentario", "Contas", FormMethod.Post, new { style = "width: auto; text-align : right" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" value="@comentario.ID_Comentario" id="id" , name="id" />
                                <input type="submit" value=&#10060; id="RefuseComentario" name="RefuseComentario" style="width:40px" />
                            }
                        </td>

                    </div>

                }

            </div>
        }
        


        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</body>

