@model List<_25_Abril.Models.Comentario>

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/Profile")

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
        }

            .title {
                width: 70%;
                /* Ajuste conforme necessário para a coluna de título ocupar a maioria do espaço */
            }

            .category {
                width: auto;
            }
            .options {
                text-align:center;
                width: 10%;
            }

        .Page{
            width:100%;
        }

        .UserIMG{
            border-radius:50%;
            width:20px;
            height:20px;
        }
    </style>
</head>

<body class="Background">

    <div class="DivMain" style="justify-content: start; position: relative;">

        <div class="Page">
            <table style="width:100%">

                <thead>
                <th class="title">Comentario</th>
                <th class="category">Conta</th>
                <th class="category">Data</th>
                <th class="options">Opções</th>
                </thead>



                <tbody>
                    @if (Model != null)
                    {
                        foreach (_25_Abril.Models.Comentario comentario in Model)
                        {
                            <tr>
                                <td>@comentario.ComentarioTexto</td>
                                <td><img src="@comentario.Conta.Image" class="UserIMG"/>  comentario.Conta.Nome</td>
                                <td>@comentario.Data</td>

                                <td style="display:inline">
                                    @using (Html.BeginForm("AcceptComentario", "Contas", FormMethod.Post, new { style = "width: auto; text-align : right" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="submit" value=&#10004; id="AcceptComentario" name="AcceptComentario" style="width:40px"/>
                                    }
                                    @using (Html.BeginForm("RefuseComentario", "Contas", FormMethod.Post, new { style = "width: auto; text-align : right" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="submit" value=&#10060; id="RefuseComentario" name="RefuseComentario" style="width:40px" />
                                    }
                                </td>
                            </tr>
                        }
                    }


                </tbody>

            </table>

        </div>

    </div>

</body>

</html>
