@model _25_Abril.ViewModels.ContaArte_ViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    @Styles.Render("~/Content/Profile")
</head>

<body class="Background">

    <div class="DivMain" style="justify-content: start; position: relative;">

        <div class="DivProfile">
            <img src=@Model.Conta.Image alt="" class="ProfileIMG">
        </div>

        @Html.ActionLink("Editar Perfil", "Edit", "Contas", new { nome = Model.Conta.Nome }, new { @class = "EditButton" })

        @Html.ActionLink("Logout", "Logout", "Contas", new { @class = "LogoutButton" })


        <div class="ProfileInfo">

            <div class="Info">
                <span class="InfoLabel">Nome:</span>
                <span>@Model.Conta.Nome</span>
            </div>

            <div class="Info">
                <span class="InfoLabel">Email: </span>
                <span>@Model.Conta.Email</span>
            </div>



        </div>
    </div>

    <button style="margin-left:3%; font-size:25px">
        <a href="@Url.Action("UploadArte", "Contas", FormMethod.Post)">
            <span>&#8593; Upload</span>
        </a>
    </button>
    
    <div class="DivMain">


        @if (Model != null)
        {
            foreach (_25_Abril.Models.Arte arte in Model.Artes)
            {
                if (arte.Conta.Nome == Model.Conta.Nome)
                {
                    <div class="ArtProject">
                        <img src=@arte.Caminho alt="" style="max-height:280px">
                        <div class="Titulo">
                            @arte.Nome_Arte
                        </div>
                        @{
                            string descricao = arte.Descricao;

                            if (descricao.Length > 100)
                            {
                                int ultimoEspaco = descricao.LastIndexOf(' ', 100);

                                if (ultimoEspaco != -1)
                                {
                                    descricao = descricao.Substring(0, ultimoEspaco);
                                }
                                descricao += "...";
                            }
                        }
                        <div class="Descricao">
                            @descricao
                        </div>
                        <div class="Autor">
                            @arte.Conta.Nome
                        </div>
                        <div style="width:100%; text-align:left; font-size:20px">
                            <a href="@Url.Action("Details", "Artes", new { nome = arte.Nome_Arte })">
                                <span> 💬 </span>
                            </a>
                        </div>
                    </div>
                }



            }
        }

    </div>
</body>

    </html>
