@model _25_Abril.ViewModels.ContaArte_ViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    @Styles.Render("~/Content/Profile")
</head>

<body class="Background">

    <div class="DivMain" style="justify-content: start; position: relative;">

        <div class="DivProfile">
            <img src=@Model.Conta.Image alt="" class="ProfileIMG">
        </div>


        <button class="EditButton">
            @Html.ActionLink("Edit", "Contas", new { nome = Model.Conta.Nome }, new { @class = "EditButton" })
        </button>

        <div class="ProfileInfo">

            <div class="Info">
                <span class="InfoLabel">Nome:</span>
                <span>@Model.Conta.Nome</span>
            </div>

            <div class="Info">
                <span class="InfoLabel">Email: </span>
                <span>@Model.Conta.Email</span>
            </div>



        </div>
    </div>

    <div class="DivMain">


        @foreach (_25_Abril.Models.Arte arte in Model.Artes)
        {
            if (arte.Conta_ID == Model.Conta.ID_Conta)
            {
                <div class="ArtProject">
                    <img src=@arte.Caminho alt="NotFound">
                    <div class="Titulo">
                        @arte.Nome_Arte
                    </div>
                    <div class="Descricao">
                        @arte.Descricao
                    </div>
                    <div style="display : flex">
                        @*Nao leva para o endereço certo*@
                        @Html.ActionLink("Edit", "Artes", new { id = arte.ID_Arte })
                        @Html.ActionLink("Details", "Artes", new { id = arte.ID_Arte })
                        @Html.ActionLink("Delete", "Artes", new { id = arte.ID_Arte })
                    </div>
                    
                </div>
            }
        }
        </body>

    </html>
