@model _25_Abril.Models.Conta

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/Profile")


</head>


<body class="Background">

    <div class="DivMain">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "")
            @Html.HiddenFor(model => model.ID_Conta)

            

            <div class="form-group">
                @Html.LabelFor(model => model.Nome)
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nome)
                    @Html.ValidationMessageFor(model => model.Nome, "")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email)
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email, "")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password)
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password, "")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsAdmin)
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsAdmin)
                        @Html.ValidationMessageFor(model => model.IsAdmin, "")
                    </div>
                </div>
            </div>

            @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>*@
        }
    </div>
</body>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>
</html>