@model List<_25_Abril.Models.Tipo_de_Arte>

@{
    ViewBag.Title = "TiposArte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/Profile")

    <style>

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
        }

        .title {
            width: 70%;
        }


        .options {
            text-align: center;
            width: 10%;
        }


        .TabPages {
            width: 20%;
        }

        .Page {
            width: 79%;
        }
    </style>
</head>

<!DOCTYPE html>
<html>

<body class="Background">

    <div class="DivMain" style="justify-content: start; position: relative;">
        <div class="TabPages">
            <div class="PageItem">

            </div>

            <div class="PageItem">

            </div>

            <div class="PageItem">

            </div>

            <div class="PageItem">

            </div>
        </div>
        @*Ola*@
        <div class="Page">
            <button onclick="ShowTxt()">Criar novo tipo</button>

            @*Esconder e mostrar quando carrega no botao*@
            @Html.ActionLink("Criar", "CreateTipo", "Contas");
            <table style="width:100%">

                <thead>
                <th class="title">Tipo de Arte</th>
                <th class="options">Opções</th>
                </thead>



                <tbody>
                    @if (Model != null)
                    {
                        foreach (_25_Abril.Models.Tipo_de_Arte tipo in Model)
                        {
                            <tr>
                                <td>@tipo.Tipo_Arte</td>

                                <td style="display:inline">
                                    @using (Html.BeginForm("DelTipo", "Contas", FormMethod.Post, new { style = "width: auto; text-align : right" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" value="@tipo.Tipo_Arte" id="tipo" name="tipo" />
                                        <input type="submit" value=&#10060; id="RefusePedido" name="RefusePedido" style="width:40px" />
                                    }
                                </td>
                            </tr>
                        }
                    }


                </tbody>

            </table>

        </div>

    </div>

</body>
</html>
