@model _25_Abril.ViewModels.ArteComentarios_ViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="Background" style="width:80%; margin-left:10%; margin-right:10%">

    <div class="DivMain" style="justify-content: start; position: relative;">
        <dd>
            @Html.DisplayFor(model => model.Arte.Nome_Arte)
        </dd>

        <img src=@Model.Arte.Caminho alt="Not Found" style="width : 80%; height : auto; margin-right: 10%; margin-left : 10%" />

        <dd>
            @Html.DisplayFor(model => model.Arte.Descricao)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Arte.Conta.Nome)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Arte.Tipo_de_Arte.Tipo_Arte)
        </dd>

        <div>

        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { nome = Model.Arte.Nome_Arte }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</body>

