@model _25_Abril.ViewModels.ArtesTipoArte_ViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>

    @Styles.Render("~/Content/Projetos")
</head>


<body class="Background">

    <div class="DivFilters">
        @foreach(_25_Abril.Models.Tipo_de_Arte tipo in Model.Tipos) 
        {
            <div class="Filters">
                <input type="checkbox" id="checkbox" class="Checkbox">
                <label for="checkbox">@tipo.Tipo_Arte</label>
            </div>
        }
    </div>

    <div class="DivMain">

        @foreach(_25_Abril.Models.Arte arte in Model.Artes)
        {
            <div class="ArtProject">
                @*Alterar o caminho da imagem para "Images/Projetos/" + @arte.caminho*@
                <img src="~/Imagens/Projeto/LoggedUser.png" alt="">
                <div class="Titulo">
                    @arte.Nome_Arte
                </div>
                <div class="Descricao">
                    @arte.Descricao
                </div>
                
                <div style="display : flex">
                    <div style="text-align : left; flex : 1">
                        @Html.ActionLink("Edit", "Edit", new { id = arte.ID_Arte })
                        @Html.ActionLink("Details", "Details", new { id = arte.ID_Arte })
                        @Html.ActionLink("Delete", "Delete", new { id = arte.ID_Arte })
                    </div>
                    <div style=" text-align : right">
                        <div class="Autor">
                            @arte.Conta.Nome
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="ArtProject">
                @*Alterar o caminho da imagem para "Images/Projetos/" + @arte.caminho*@
                <img src="~/Imagens/Projeto/LoggedUser.png" alt="">
                <div class="Titulo">
                    @arte.Nome_Arte
                </div>
                <div class="Descricao">
                    @arte.Descricao
                </div>
                <div class="Autor">
                    @arte.Conta.Nome
                </div>
                <div style="display : inline">
                    @Html.ActionLink("Edit", "Edit", new { id = arte.ID_Arte })
                    @Html.ActionLink("Details", "Details", new { id = arte.ID_Arte })
                    @Html.ActionLink("Delete", "Delete", new { id = arte.ID_Arte })
                </div>
            </div>
            <div class="ArtProject">
                @*Alterar o caminho da imagem para "Images/Projetos/" + @arte.caminho*@
                <img src="~/Imagens/Projeto/LoggedUser.png" alt="">
                <div class="Titulo">
                    @arte.Nome_Arte
                </div>
                <div class="Descricao">
                    @arte.Descricao
                </div>
                <div class="Autor">
                    @arte.Conta.Nome
                </div>
                <div style="display : inline">
                    @Html.ActionLink("Edit", "Edit", new { id = arte.ID_Arte })
                    @Html.ActionLink("Details", "Details", new { id = arte.ID_Arte })
                    @Html.ActionLink("Delete", "Delete", new { id = arte.ID_Arte })
                </div>
            </div>
            <div class="ArtProject">
                @*Alterar o caminho da imagem para "Images/Projetos/" + @arte.caminho*@
                <img src="~/Imagens/Projeto/LoggedUser.png" alt="">
                <div class="Titulo">
                    @arte.Nome_Arte
                </div>
                <div class="Descricao">
                    @arte.Descricao
                </div>
                <div class="Autor">
                    @arte.Conta.Nome
                </div>
                <div style="display : inline">
                    @Html.ActionLink("Edit", "Edit", new { id = arte.ID_Arte })
                    @Html.ActionLink("Details", "Details", new { id = arte.ID_Arte })
                    @Html.ActionLink("Delete", "Delete", new { id = arte.ID_Arte })
                </div>
            </div>
            <div class="ArtProject">
                @*Alterar o caminho da imagem para "Images/Projetos/" + @arte.caminho*@
                <img src="~/Imagens/Projeto/LoggedUser.png" alt="">
                <div class="Titulo">
                    @arte.Nome_Arte
                </div>
                <div class="Descricao">
                    @arte.Descricao
                </div>
                <div class="Autor">
                    @arte.Conta.Nome
                </div>
                <div style="display : inline">
                    @Html.ActionLink("Edit", "Edit", new { id = arte.ID_Arte })
                    @Html.ActionLink("Details", "Details", new { id = arte.ID_Arte })
                    @Html.ActionLink("Delete", "Delete", new { id = arte.ID_Arte })
                </div>
                
            </div>
        }



    </div>
</body>


</html>