@model List<_25_Abril.Models.FavArtes>

@{
    ViewBag.Title = "Home Page";
}

<body class="Background">

    <div class="DivMain">
        <div style="width:100%; text-align : center; font-size:45px; font-weight:700;">
            Projetos em Destaque
        </div>

        @if (Model != null)
        {
            foreach (_25_Abril.Models.FavArtes favArte in Model)
            {
                <div class="ArtProject">
                    <img src=@favArte.Arte.Caminho alt="" style="max-height:280px">
                    <div class="Titulo">
                        @favArte.Arte.Nome_Arte
                    </div>
                    @{
                        string descricao = favArte.Arte.Descricao;

                        if (descricao.Length > 100)
                        {
                            int ultimoEspaco = descricao.LastIndexOf(' ', 100);

                            if (ultimoEspaco != -1)
                            {
                                descricao = descricao.Substring(0, ultimoEspaco);
                            }
                            descricao += "...";
                        }
                    }
                    <div class="Descricao">
                        @descricao
                    </div>
                    <div class="Autor">
                        @favArte.Arte.Conta.Nome
                    </div>
                    <div style="width:100%; text-align:left; font-size:20px">
                        <a href="@Url.Action("Details", "Artes", new { nome = favArte.Arte.Nome_Arte })">
                            <span> 💬 </span>
                        </a>
                    </div>
                </div>

                <div class="ArtProject">
                    <img src=@favArte.Arte.Caminho alt="" style="max-height:280px">
                    <div class="Titulo">
                        @favArte.Arte.Nome_Arte
                    </div>
                    @{
                        descricao = favArte.Arte.Descricao;

                        if (descricao.Length > 100)
                        {
                            int ultimoEspaco = descricao.LastIndexOf(' ', 100);

                            if (ultimoEspaco != -1)
                            {
                                descricao = descricao.Substring(0, ultimoEspaco);
                            }
                            descricao += "...";
                        }
                    }
                    <div class="Descricao">
                        @descricao
                    </div>
                    <div class="Autor">
                        @favArte.Arte.Conta.Nome
                    </div>
                    <div style="width:100%; text-align:left; font-size:20px">
                        <a href="@Url.Action("Details", "Artes", new { nome = favArte.Arte.Nome_Arte })">
                            <span> 💬 </span>
                        </a>
                    </div>
                </div>

                <div class="ArtProject">
                    <img src=@favArte.Arte.Caminho alt="" style="max-height:280px">
                    <div class="Titulo">
                        @favArte.Arte.Nome_Arte
                    </div>
                    @{
                        descricao = favArte.Arte.Descricao;

                        if (descricao.Length > 100)
                        {
                            int ultimoEspaco = descricao.LastIndexOf(' ', 100);

                            if (ultimoEspaco != -1)
                            {
                                descricao = descricao.Substring(0, ultimoEspaco);
                            }
                            descricao += "...";
                        }
                    }
                    <div class="Descricao">
                        @descricao
                    </div>
                    <div class="Autor">
                        @favArte.Arte.Conta.Nome
                    </div>
                    <div style="width:100%; text-align:left; font-size:20px">
                        <a href="@Url.Action("Details", "Artes", new { nome = favArte.Arte.Nome_Arte })">
                            <span> 💬 </span>
                        </a>
                    </div>
                </div>

                <div class="ArtProject">
                    <img src=@favArte.Arte.Caminho alt="" style="max-height:280px">
                    <div class="Titulo">
                        @favArte.Arte.Nome_Arte
                    </div>
                    @{
                        descricao = favArte.Arte.Descricao;

                        if (descricao.Length > 100)
                        {
                            int ultimoEspaco = descricao.LastIndexOf(' ', 100);

                            if (ultimoEspaco != -1)
                            {
                                descricao = descricao.Substring(0, ultimoEspaco);
                            }
                            descricao += "...";
                        }
                    }
                    <div class="Descricao">
                        @descricao
                    </div>
                    <div class="Autor">
                        @favArte.Arte.Conta.Nome
                    </div>
                    <div style="width:100%; text-align:left; font-size:20px">
                        <a href="@Url.Action("Details", "Artes", new { nome = favArte.Arte.Nome_Arte })">
                            <span> 💬 </span>
                        </a>
                    </div>
                </div>
            }
        }

    </div>

</body>
